models:
  - name: "bge-m3"
    handler: "app.models.bge_m3.BgeM3Embedding"
    hf_repo_id: "BAAI/bge-m3"
  - name: "embedding-gemma-300m"
    handler: "app.models.embedding_gemma.EmbeddingGemmaEmbedding"
    hf_repo_id: "google/embeddinggemma-300m"
